# Build directories
build/

# Python venv
.venv/

# Temporal files for dezog
.tmp/

# Object and debug files
src/*.o
src/*.lis
src/*.sym
src/*.map
src/*.nex

# MacOS files
.DS_Store

# CSpect temporary files
cspect_win.dat